
			header, section, footer, aside, nav, article, figure, figcaption {
				display: block;}
			body {
				color: #666666;
				background-color: #f9f8f6;
				background-image: url("Page_Images/background_camo.jpg");
				background-position: center;
				font-family: Georgia, Times, serif;
				line-height: 1.4em;
				margin: 0px;}
			.wrapper {
				width: 940px;
				margin: 20px auto 20px auto;
				border: 2px solid #000000;
				background-color: #ffffff;}
			header {
				height: 210px;
				background-image: url("Page_Images/Flag_of_the_Irish_Defence_Forces_Resized.png");}
			h1 {
				text-indent: -9999px;
				width: 940px;
				height: 130px;
				margin: 0px;}
				/*Start Nav Bar*/
			nav, footer {
				clear: both;
				color: #ffffff;
				background-color: #aeaca8;
				height: 30px;}
			nav ul {
				margin: 0px;
				padding: 5px 0px 5px 30px;}
			nav li {
				display: inline;
				margin-right: 40px;}
			nav li a {
				color: #ffffff;}
			nav li a:hover, nav li a.current {
				color: #000000;}
				/*End Nav Bar*/
				/*Start Main Section*/
			section.main{
				float: left;
				width: 659px;
				border-right: 1px solid #eeeeee;}
			article {
				clear: both;
				overflow: auto;
				width: 100%;
				padding: 10px}
				/*End Main Section*/
			hgroup {
				margin-top: 40px;}
				/*Start Figure*/
			figure {
				float: left;
				width: 290px;
				height: 220px;
				padding: 5px;
				margin: 20px;
				border: 1px solid #eeeeee;}
			figcaption {
				font-size: 90%;
				text-align: left;}
				/*End Figure*/
				/*Start Aside*/
			aside {
				width: 230px;
				float: left;
				padding: 0px 0px 0px 20px;}
			aside section a {
				display: block;
				padding: 10px;
				border-bottom: 1px solid #eeeeee;}
			aside section a:hover {
				color: #985d6a;
				background-color: #efefef;}
			a {
				color: #339933;
				text-decoration: none;}
				/*End Aside*/
				/*Start Headings*/
			h1, h2, h3 {
				font-weight: normal;}
			h2 {
				margin: 10px 0px 5px 0px;
				padding: 0px;}
			h3 {
				margin: 0px 0px 10px 0px;
				color: #003300;}
			aside h2 {
				padding: 30px 0px 10px 0px;
				color: #003300;}
				/*Start Headings*/
				/*Start Footer*/
			footer {
				font-size: 80%;
				padding: 7px 0px 0px 20px;}
				/*End Footer*/
				/*Table*/
			table, th, td {
				color: white;
				}
			th, td {
				padding: 15px;
				}
			table#t01{
				border: 1px double grey;
				}
			table#t01 tr:nth-child(even) {
				background-color: #eee;
				}
			table#t01 tr:nth-child(odd) {
				background-color:#fff;
				}
			table#t01 th	{
				background-color: black;
				color: white;
				}
				/* End Table*/
				
				/*Gallery*/
				.gallerythumb {
								width:150px;
								height:100px;
								}

					.enlarge {
								text-align:center;
								}

					ul.enlarge {
						list-style-type: none; /*remove the bullet point*/
						margin-left: 0;
					}

					ul.enlarge li {
						display: inline-block; /*places the images in a line*/
						position: relative;
						z-index: 0; /*resets the stack order of the list items*/
						margin: 10px 40px 0 20px;
						background-color:	#cfcfdf;
						border-radius: 20px;
					}

					ul.enlarge img {
						background-color: #eae9d4;
						padding: 6px;
						border-radius: 20px; 
					}

					ul.enlarge span {
						position: absolute;
						left: -9999px;
						background-color: #339933;
						padding: 10px;
						font-family: 'Droid Sans', sans-serif;
						font-size: .9em;
						text-align: center; 
						color: #495a62; 
						border-radius: 8px;
					}

					ul.enlarge li:hover {
						z-index: 50;
						cursor: pointer;
					}

					ul.enlarge span img {
						padding: 2px;
						background: #ccc;
					}

					ul.enlarge li:hover span { 
						top: -300px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
						left: -20px; /*distance from the left of the thumbnail to the left of the popup image*/
					}
							/*end of gallery CSS*/

